body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    width: 414px;
    padding: 3px;
}

.cabecalho h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
    font-weight: 400;
}

.cabecalho {
    background-color: #CF2B2B;
    width: 100%;
    height: 92px;
    color:white;
    padding: 21px;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;

}

.principal {
    width: 100%;
    margin-top: 92px;
    margin-bottom: 92px;
    
}

.subtitulos {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 26px;
    margin-left: 19px;
}

img {
    width: 100%;
    height: 100px;
    border-radius: 4px;
}

.check {
    font-size: 22px;
    color: #32B72F;
    text-align: right;
    opacity: 0;
}

.opcoes {
    display:flex;
    width: 650px;
    justify-content: space-around;
    overflow-x: scroll;
}

.opcao  {
    background-color: white;
    width: 172px;
    height: 216px;
    padding: 15px;
    border-radius: 9px;
}

.nome {
    font-weight: 700;
    font-size: 18px;
    margin: 5px auto;
}

.descricao {
    color: #A6A6A6;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 5px;
}

.preco {
    font-size: 16px;
    margin-top: 22px;
}

.selecionado {
    border: 2px solid #32B72F;
}

.selecionado .check {
    opacity: 1;
}

.final {
    background-color: white;
    width: 100%;
    height: 92px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao {
    background-color: #CBCBCB;
    width: 364px;
    height: 61px;
    border-radius: 50px;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao a {
    text-decoration: none;
    color: white;
    
}

.final .verde {
    background-color: #32B72F;
    color: white;
    cursor: wait;
}